@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: 'Noto Sans', sans-serif;
}

body {
  background-image: url('/background.jpg');
  background-size: cover;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

#left, #right {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#right {
  background-color: white;
  align-items: center;
  justify-content: flex-start;
  overflow: scroll;
}

#right h1 {
  margin-top: 30px;
  margin-bottom: 20px;
}

#right .results {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#right .results a {
  width: 80%;
  text-decoration: none;
  color: white
}

#right .business {
  width: 100%;
  height: 220px;
  margin: 30px 0;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  box-shadow: rgba(0, 0, 0, 0.8) 0px -85px 36px -28px inset;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-left: 13px;
  padding-right: 13px;
  padding-bottom: 13px;
}

.business .location {
  font-size: 12px;
}

.business .description {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.search {
  width: fit-content;
  background-color: rgba(255,255,255, 0.8);
  padding: 30px;
  border-radius: 5px;
}

.search form {
  display: flex;
  flex-direction: column;
}

.values {
  display: flex;
  flex-direction: column;
}

.question {
  font-size: 28px;
  margin-bottom: 15px;
}

.geo {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.valid {
  background-color: #686de0;
  color: #fff;
  border: none;
  border-radius: 2px;
  padding: 10px 20px;
  width: fit-content;
  margin-left: auto;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.valid:hover {
  background-color: #4834d4;
}

.switch-container {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 28px;
  margin-right: 10px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #686de0;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #4834d4;
}

input:focus + .slider {
  box-shadow: 0 0 1px #4834d4;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

img {
  width: 50px;
}